
.quickview-block{position: relative;}



.products-grid .quickview-button{
    
}
.quickview-block:hover .quickview-button {
   
}


.quickview-hider {
    background: none repeat scroll 0 0 #333333;
    display: block;
    left: 0px;
    opacity: 0.3;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30) padding: 6px 9px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10090;
}

.quickview-popup {
    left: 50%;
    position: absolute;
    margin-left: -465px;
    top: 15%;
    width: 930px;
    z-index: 10100;
    text-align: left;
}

.quickview-popup .popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #727272;
    border-radius: 0 0 0 0;
    position: relative;
}

.quickview-popup .popup-header{
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.quickview-popup .popup-footer {
    border-top: 1px solid #C4C6C8;
    overflow: hidden;
    text-align: center;
}
.quickview-popup .popup-footer .goto-product-view{
}
.quickview-popup .popup-footer .goto-product-view a{
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
}

.quickview-popup .product-name{
    text-align: left;
    float: left;
}

.quickview-popup .product-name h1{
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    margin: 0;
    padding: 0 25px;
    text-transform: uppercase;
}

.quickview-popup .close-popup {
    background: url("../images/close-popup.png") no-repeat scroll right center transparent;
    cursor: pointer;
    padding: 22px;
    position: absolute;
    right: 10px;
    top: 6px;
}

.quickview-popup .main-popup{
    clear: both;
    position: relative;
}

.quickview-popup .product-view{border: 0px}

.quickview_scroll{overflow-y: scroll}

.quickview-popup .product-essential{
    background: none;
    padding: 25px;
}

.quickview-popup .product-shop{
    text-align: left;
}

.quickview_popup_alpha{
    opacity: 0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    position: absolute;
    background: #FFFFFF;
    top: 0px;
    z-index: 20000;
}

.quickview_block_related{display:inline-block}
.quickview_block_related li {float:left;}
.quickview_related_item{width:120px; margin-right:10px}
.quickview_related_item_image{}
.quickview_related_item_details{}
.quickview_related_checkbox{float: left; margin-top: 4px}
.quickview_related_item_details .price-box{margin:5px 0px !important}

.quickview-popup .product-view .product-shop .short-description {
    background: url("../images/bkg_divider1.gif") repeat-x scroll 0 100% transparent;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

.quickview-popup .quickview_share{
    float: right;
    margin: 6px 2px 0 0;
}
.quickview-popup .sharethis{
    position: relative;
    display: inline-block;
}

.quickview-popup .sharethis .share-popup{
    display: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #CCCCCC;
    padding: 5px;
    position: absolute;
    top: 17px;
    right: -15px;
    width: 205px;
    z-index: 105;
}
.quickview-popup .sharethis:hover .share-popup{
    display: block;
}

.quickview-popup .share-block li{
    float: left;
    display: block;
    margin-left: 3px;
}

.quickview-popup .share-popup li{
    float: left;
    display: block;
    margin-left: 5px;
    width: 90px;
}

.quickview-popup .share-block li span{
    background: url("../images/soc_icons_grey.png") no-repeat;
}
.quickview-popup .share-popup li span{
    background: url("../images/soc_icons_dark_grey.png") no-repeat;
}

.quickview-popup .share-block li a:hover span,
.quickview-popup .share-popup li a:hover span{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    opacity: 0.8;
}

.quickview-popup .share-block li span{
    display: block;
    width: 17px;
    height: 17px;
    overflow: hidden;
    text-indent: 25px;
}

.quickview-popup .share-block .share-title span{
    width: 40px;
    text-indent: 0px;
    background: none;
}

.quickview-popup .share-popup li span{
    padding-left: 21px;
    display: block;
    line-height: 18px;
    margin: 4px 2px 2px;
}
.quickview-popup .share-popup a{text-decoration: none}

.quickview-popup li.share-email span             {background-position: 0 -126px}
.quickview-popup li.share-facebook span       {background-position: 0 -2px}
.quickview-popup li.share-twitter span         {background-position: 0 -27px}
.quickview-popup li.share-googleplus span   {background-position: 0 -52px}
.quickview-popup li.share-pinterest span     {background-position: 0 -625px}
.quickview-popup li.share-linkedin span       {background-position: 0 -176px}
.quickview-popup li.share-myspace span         {background-position: 0 -226px}
.quickview-popup li.share-livejournal span {background-position: 0 -251px}
.quickview-popup li.share-delicious span     {background-position: 0 -275px}
.quickview-popup li.share-stumbleupon span {background-position: 0 -151px}
.quickview-popup li.share-reddit span           {background-position: 0 -201px}

.crosssell .quickview-button,
.block-related .quickview-button{
    top: 15px;
    padding: 7px 14px;
    font-size: 13px;
}

.box-up-sell .quickview-button{
    top: 44px;
    margin-left: -53px;
}




.quickview-popup .next-product-view:hover, .quickview-popup .prev-product-view:hover, .quickview-popup .close-popup:hover {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80) padding: 6px 9px;
    opacity: 0.8;
}
