<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Quickview>
            <version>0.1.0</version>
        </Magentothem_Quickview>
    </modules>
    <frontend>
        <routers>
            <quickview>
                <use>standard</use>
                <args>
                    <module>Magentothem_Quickview</module>
                    <frontName>quickview</frontName>
                </args>
            </quickview>
        </routers>
        <layout>
            <updates>
                <quickview>
                    <file>quickview.xml</file>
                </quickview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <quickview>
                <use>admin</use>
                <args>
                    <module>Magentothem_Quickview</module>
                    <frontName>quickview</frontName>
                </args>
            </quickview>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem module="quickview">
                <title>Magentothem</title>
                <sort_order>82</sort_order>               
                <children>
                    <quickview translate="title" module="quickview">
                        <title>Quickview</title>
                        <sort_order>2</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/quickview</action>
                            </configuration>
                        </children>
                    </quickview>
               </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Quickview>
                            <title>Quickview Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Quickview>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <quickview>
                    <file>quickview.xml</file>
                </quickview>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <quickview>
                <class>Magentothem_Quickview_Model</class>
            </quickview>
        </models>
        <blocks>
            <quickview>
                <class>Magentothem_Quickview_Block</class>
            </quickview>
        </blocks>
        <helpers>
            <quickview>
                <class>Magentothem_Quickview_Helper</class>
            </quickview>
        </helpers>
    </global>
    <default>
        <quickview>
            <settings>
                <enabled>1</enabled>
                <additional_information>0</additional_information>
                <related_products>0</related_products>
                <upsell_products>0</upsell_products>
                <navigation>1</navigation>
                <overlay_show>1</overlay_show>
                <overlay_opacity>0.7</overlay_opacity>
                <overlay_color>#888888</overlay_color>
            </settings>
            <media>
                <active>quickview_media_default</active>
                <fancybox>1</fancybox>
            </media>
            <cloudzoom>
                <zoom_width_quickview>0</zoom_width_quickview>
                <zoom_height_quickview>0</zoom_height_quickview>
                <position_quickview>right</position_quickview>
                <show_title>1</show_title>
                <title_opacity>0.5</title_opacity>
            </cloudzoom>
            <fancybox>
                <padding>10</padding>
                <margin>20</margin>
                <title_show>1</title_show>
                <title_position>over</title_position>
                <transition_in>fade</transition_in>
                <transition_in_elastic>swing</transition_in_elastic>
                <transition_out>fade</transition_out>
                <transition_out_elastic>swing</transition_out_elastic>
                <overlay_show>1</overlay_show>
                <overlay_opacity>0.3</overlay_opacity>
                <speed_in>300</speed_in>
                <speed_out>300</speed_out>
            </fancybox>
        </quickview>
    </default>
</config>